---
page_title: "{{ .Name }}"
description: |-
  {{ .Description }}
---

# {{ .Name }} (Data Source)
{{ .Description }}
{{ if eq .HasExample true }}
## Example Usage
{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name) }}
{{ end }}
{{ .SchemaMarkdown | trimspace }}