---
page_title: "{{ .Name }}"
description: |-
  {{ .Description }}
---

# {{ .Name }} (Data Source)
{{ .Description }}
{{ if eq .HasExample true }}
## Example Usage
{{ tffile .ExampleFile }}
{{ end }}
{{ .SchemaMarkdown | trimspace }}