---
page_title: "{{ .ProviderShortName }} Terraform Provider"
subcategory: ""
description: |-
    The Jamf Pro provider is used to manage a Jamf Pro instance.
---

# Jamf Pro Provider

The Jamf Pro Terraform provider is a plugin for Terraform that allows for the
management of [Jamf Pro](https://www.jamf.com/products/jamf-pro/) configuration and resources.
-----
A typical provider configuration would look something like:
{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}