---
page_title: "{{ .Name }}"
description: |-
  {{ .Description }}
---

# {{ .Name }} (Resource)
{{ .Description }}
{{ if eq .HasExample true }}
## Example Usage
{{ tffile (printf "examples/%s/%s.tf" .Type .Name) }}
{{ end }}
{{ .SchemaMarkdown | trimspace }}