# name: "Terraform Integration Tests"
# run-name: "Terraform Integration Tests"
# on:
#   pull_request:
#     branches:
#       - main
#   workflow_dispatch:


#       - name: Set up Terraform
#         uses: hashicorp/setup-terraform@v3

#       - name: Set up Golang
#         uses: actions/setup-go@v5

#       - name: Set up Python
#         uses: actions/setup-python@v5.6.0

#       - name: Set up Python Environment
#         run: |
#           pip install -r ./terraform-provider-jamfpro/testing/requirements.txt
#       - name: Compile Provider
#         run: |
#           cd ./terraform-provider-jamfpro
#           mkdir -p ~/.terraform.d/plugins/terraform.local/local/jamfpro/0.1.0/linux_amd64/
#           go build
#           mv ./terraform-provider-jamfpro ~/.terraform.d/plugins/terraform.local/local/jamfpro/0.1.0/linux_amd64/
#           chmod +x ~/.terraform.d/plugins/terraform.local/local/jamfpro/0.1.0/linux_amd64/terraform-provider-jamfpro
#           cd testing
#           terraform init

#       - name: Generate UUID
#         id: generate-uuid
#         run: |
#           generated_uuid=$(uuidgen)
#           echo "uuid=$generated_uuid" >> $GITHUB_OUTPUT
#           echo "Run ID: $generated_uuid"

        

#       - name: Scaffolding
#         run: |
#           echo "PLEASE NOTE at 23:59 a wipe job is performed on all testing objects. Tests run at this time will most likely fail."
#           cd ./terraform-provider-jamfpro/testing/setup
#           ./scaffolding.sh -r ${{ steps.generate-uuid.outputs.uuid }}

#       - name: Run Tests
#         run: |  
#           cd ./terraform-provider-jamfpro/testing
#           terraform fmt
#           terraform init
#           terraform test

#       - name: Post-flight cleanup
#         run: |
#           # Waits 5 seconds to allow for deletes to properly apply after test.
#           sleep 5
#           cd ./terraform-provider-jamfpro/testing/setup
#           ./cleanup.sh -r ${{ steps.generate-uuid.outputs.uuid }}


#       - name: Diff cascade - Terraform Plan (Pre-Apply)
#         id: plan_pre
#         run: |
#           cd ./terraform-provider-jamfpro/testing
#           chmod +x ./diff_cascade_check.sh
#           ./diff_cascade_check.sh
          